<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context"
xmlns:int="http://www.springframework.org/schema/integration" 
xmlns:int-stream= "http://www.springframework.org/schema/integration/stream" 
xmlns:int-file= "http://www.springframework.org/schema/integration/file"
xmlns:int-xml="http://www.springframework.org/schema/integration/xml"
xmlns:jms="http://www.springframework.org/schema/integration/jms"
xsi:schemaLocation=" http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/integration 
http://www.springframework.org/schema/integration/spring-integration-4.3.xsd 
http://www.springframework.org/schema/integration/stream 
http://www.springframework.org/schema/integration/stream/spring-integration-stream-4.3.xsd
http://www.springframework.org/schema/integration/file 
http://www.springframework.org/schema/integration/file/spring-integration-file-4.3.xsd 
http://www.springframework.org/schema/integration/xml
http://www.springframework.org/schema/integration/xml/spring-integration-xml-4.3.xsd 
http://www.springframework.org/schema/integration/jms 
http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd">

<!-- Component Scan -->
<context:component-scan base-package="com.intertech.lab1"></context:component-scan>

<context:property-placeholder location="classpath:application.properties"/>
<import resource="classpath:mybatis-config.xml" />

<!--  Adapter for std stream -->
<!--  <int-stream:stdin-channel-adapter id="producer" channel="inboundChannel" >
</int-stream:stdin-channel-adapter> 
<int-stream:stdout-channel-adapter id="consumer1" channel="outboundChannel" append-newline="true" /> 
<int:poller id="defaultPoller" default="true" max-messages-per-poll="5" fixed-rate="500"/> -->
<!--<int-stream:stdout-channel-adapter id="consumer2" channel="messageChannel" append-newline="true" /> -->
<!--  Adapter for std stream -->

<!-- Adapter for reading files -->
<int-file:inbound-channel-adapter id="producer-file-adapter" channel="inboundChannel" filename-regex=".*\.xml$" directory="file:c://inbound" prevent-duplicates="true">
	<int:poller fixed-rate="5000" />
</int-file:inbound-channel-adapter> 

<int-file:outbound-channel-adapter id="consumer1-file-adapter" channel="outboundChannel" directory="file:c://outbound">
</int-file:outbound-channel-adapter>

<!-- <int-file:outbound-channel-adapter id="consumer2-file-adapter" channel="outboundNWChannel" directory="file:c://outbound//norway">
</int-file:outbound-channel-adapter> -->
 
<!-- Adapter for reading files -->
<!--  chaining -->
<!-- <int:chain input-channel="inboundChannel" output-channel="outboundChannel"> -->
	<!--  transformer -->
	<int-file:file-to-string-transformer id="stringTransformer" input-channel="inboundChannel" output-channel="outboundChannel" charset="UTF-8" />
	<!-- filter -->
	<!-- <int-xml:xpath-filter id="xpathSelector"  
						match-type="exact" xpath-expression-ref="filterExp" /> -->
	 <!-- validation filter -->
	<!-- <int-xml:validating-filter id="validator"  schema-location="file:c://inbound//xsd//shiporder.xsd"></int-xml:validating-filter> -->
		
<!-- </int:chain> -->
<!--  filter -->
<!-- <int:filter id="fileSelector" input-channel="inboundChannel" output-channel="nullChannel" ref="selector" /> -->
						
<!-- xpath expression -->
<!-- <int-xml:xpath-expression id="filterExp" expression="//country='Norway'" /> -->

<!-- transformers -->
<!-- <int:transformer input-channel="inboundChannel" output-channel="outboundChannel" ref="transformer"></int:transformer> -->

<!-- unmarshalling transformer -->
<!-- <int-xml:unmarshalling-transformer id="xml-to-object-transformer" input-channel="xml-inboundChannel" output-channel="shiporderChannel" unmarshaller="jaxbMarshaller"></int-xml:unmarshalling-transformer> -->

<!-- Service Activator -->
 <!-- <int:service-activator id="printing-service-activator" input-channel="outboundChannel" ref="serviceActivator" /> -->
 
<!-- enrichers -->
<!-- <int:enricher id="fileEnricher" input-channel="shiporderChannel" output-channel="outboundChannel" >
	<int:property name="shipped" value="true"/>
</int:enricher> -->

<!-- routers -->
<!-- <int-xml:xpath-router id="fileRouter" input-channel="xml-inboundChannel">
	<int-xml:xpath-expression expression="//country" />
	<int-xml:mapping value="USA" channel="outboundUSChannel" />
	<int-xml:mapping value="Norway" channel="outboundNWChannel" />
</int-xml:xpath-router> -->

<!-- recipient list -->
<!-- <int:recipient-list-router input-channel="outboundNWChannel">
	<int:recipient channel="outboundNWFileChannel"/>
	<int:recipient channel="outboundNWSAChannel"/>
</int:recipient-list-router> -->

<!--  JMS Adapters -->
 <jms:outbound-gateway id="JMSAdapater" request-destination-name="InQueue" request-channel="outboundChannel" 
                                                    connection-factory="connectionFactory"/>
 <jms:inbound-gateway id="inJMSAdapter" request-destination-name="InQueue" request-channel="xml-outboundChannel" />
        
 <int:service-activator id="print" ref="serviceActivator" input-channel="xml-outboundChannel" method="printShiporder"></int:service-activator> 
	
  <!-- direct channel -->
<!-- <int:channel id="messageChannel"></int:channel> -->
<int:channel id="inboundChannel"></int:channel>
<int:channel id="outboundChannel"></int:channel>
<!-- <int:channel id="outboundNWChannel"></int:channel> -->
<int:channel id="xml-inboundChannel"></int:channel> 
<!-- <int:channel id="outboundNWFileChannel"></int:channel>
<int:channel id="outboundNWSAChannel"></int:channel> -->
<int:channel id="shiporderChannel"></int:channel>
<int:channel id="jmsChannel"></int:channel>

<!-- activemq config -->

<!-- Activemq connection factory -->
    <bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <constructor-arg index="0" value="${spring.activemq.broker-url}"/>
    </bean>

    <!-- ConnectionFactory Definition -->
    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <constructor-arg ref="amqConnectionFactory" />
    </bean>

    <!--  Default Destination Queue Definition-->
    <bean id="defaultDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="InQueue"/>
    </bean>

    <!-- JmsTemplate Definition -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="defaultDestination" ref="defaultDestination" />
    </bean>

    <!-- Message Sender Definition -->
    <!-- <bean id="messageSender" class="com.city81.jms.MessageSender">
        <constructor-arg index="0" ref="jmsTemplate" />
    </bean> -->

<!-- activemq config -->

<!-- control bus -->
<!-- <int:channel id="controlChannel"></int:channel>
<int:control-bus input-channel="controlChannel"></int:control-bus> -->

<!-- control bus -->

<!-- <int:splitter></int:splitter> -->

<!-- beans  -->
<bean id="selector" class="com.intertech.lab1.filters.FileSelector" />
<bean id="transformer" class="com.intertech.lab1.transformers.FileTransformer" />
<bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
	<property name="contextPath" value="com.intertech.lab1.domain" />
</bean>
<bean id="serviceActivator" class="com.intertech.lab1.activators.FileServiceActivator" /> 
</beans>